html,
body {
  height: 100%;
}

#mapid {
  height: 100%;
}

#bar {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 16px;
  pointer-events: none;
  width: 100%;
  font-size: small;
}